<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SignInfoMapper">

    <resultMap id="signInfoMapper" type="com.tencent.wxcloudrun.model.SignInfo">
        <id property="ID" column="ID"/>
        <result property="openid" column="openid"/>
        <result property="DEPARTMENT" column="DEPARTMENT"/>
        <result property="company" column="company"/>
        <result property="userName" column="user_name"/>
        <result property="userJob" column="user_job"/>
        <result property="userSign" column="user_sign"/>
        <result property="signTime" column="sign_time" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getId" resultMap="signInfoMapper" parameterType="com.tencent.wxcloudrun.model.SignInfo">
        SELECT `id`
        FROM BO_EU_SECURITY_SIGN_INFO
        WHERE OPENID = #{openId} and DEPARTMENT = #{department} and SIGN_TIME >= #{signTime}
    </select>

    <select id="getIds" resultMap="signInfoMapper" parameterType="com.tencent.wxcloudrun.model.SignInfo">
        SELECT `id`
        FROM BO_EU_SECURITY_SIGN_INFO
        WHERE OPENID = #{openId} and DEPARTMENT = #{department}
    </select>


    <update id="updateSign" parameterType="com.tencent.wxcloudrun.model.SignInfo">
        update BO_EU_SECURITY_SIGN_INFO
        set company = #{company},user_name = #{userName}, user_job = #{userJob},user_sign = #{userSign}, sign_time = #{signTime}
        where openid = #{openId} and DEPARTMENT = #{department}

    </update>

    <insert id="createSign" parameterType="com.tencent.wxcloudrun.model.SignInfo">
        insert into BO_EU_SECURITY_SIGN_INFO
        (id,company,user_name,user_job,user_sign,sign_time,openid,DEPARTMENT)
        values (#{id},#{company},  #{userName},   #{userJob},  #{userSign},   #{signTime},#{openId} , #{department})

    </insert>

</mapper>
